<html>
  <head>
    <title>Midways</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body>
  <div class="mdl-grid-mdl-cell--8-co"
    <div id="map"></div>
</div>

  </body>
</html>