/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
}


/*Ultra Cool Map as Background with Content Overlay by JFarrow*/
/*http://codepen.io/JFarrow/pen/diIrt*/
.map{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  /*the position can be fixed for absolute, but need to find a way to make it responsive*/
}

#map{
  width: 100%;
  height: 100%;
}

.col-md-3{
/*if I set this width at 20% it looks better but is no longer obeying to material design columns*/
/*  width: 20%;*/
/*  position: absolute;*/
  z-index: 1;
  top: 50px;
  left:10px;
/*  border: 1px solid black;*/
  background: rgba(255,255,255,0.75);
  padding:15px;
  position: absolute;
  height: 600px;
  padding-top: 0px;
}

header h1{
  font-family: 'Oswald', sans-serif;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: justify;
}

div.card{
  border: 1px solid;
  border-color: #d3d3d3;
}

img.card-img-top{
  top: 0;
  left: 0;
  width: 100%;
  max-height: 180px;
}

div.col-md-3.cardbox{
  height: 500px;
  overflow-y: scroll;
}

/*.btn.btn-default.cardbtn{
  margin-right: 140px;
  border: none;
}*/

.card{
  margin-bottom: 20px;
}

h4.card-title{
  margin-left: 5px;
  font-family: 'Oswald', sans-serif;
}

li.list-group-item{
  /*cant decide if I like the background color or not*/
/*  background-color: transparent;*/
  border: 0;

}

.btn.btn-primary.btn-sm{
  background-color: #cc0000;
  margin-left: 5px;
  margin-bottom: 10px;
}

.btn.btn-default.plan-it{
  margin-top: 10px;
}